In [669]:
import pandas
import numpy
import scipy
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi

In [4]:
data = pandas.read_excel('all_data_20_may.xls')

## Описание данных

In [3]:
data.describe()

,RegionID,SchoolID,ClassNumber,ClassID,StudentID,SchoolTypeID,SchoolKindID,TeacherAge,TeacherExperience,StudentsCount,...,PercentLIT_XT,ScoreObyazLIT_XT,ScoreDopLIT_XT,ScoreLIT_XT,PercentOM,ScoreObyazOM,ScoreOM,PercentENGL,ScoreObyazENGL,ScoreENGL
count,65535,65535.000000,65535.000000,65535.000000,65535.000000,64775.000000,64801.000000,64824.000000,64795.000000,64824.000000,...,38081.000000,38081.000000,16893.000000,35984.000000,173.000000,173,0,399.000000,399,0
mean,77,996.678141,2.055192,207.704570,14.428550,1.718070,4.651471,43.055427,20.894791,26.706791,...,0.700729,11.124498,3.294264,15.278707,0.627489,0,NaN,0.493985,0,NaN
std,0,1527.052579,0.911580,91.407103,8.879422,0.946001,1.333041,9.452262,9.792244,3.260315,...,0.178373,3.932602,1.604779,3.859494,0.142815,0,NaN,0.208130,0,NaN
min,77,1.000000,1.000000,100.000000,1.000000,1.000000,1.000000,19.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.185185,0,NaN,0.000000,0,NaN
25%,77,216.000000,1.000000,102.000000,7.000000,1.000000,5.000000,37.000000,14.000000,25.000000,...,0.590909,9.000000,2.000000,13.000000,0.555556,0,NaN,0.350000,0,NaN
50%,77,544.000000,2.000000,202.000000,14.000000,1.000000,5.000000,43.000000,22.000000,27.000000,...,0.714286,12.000000,3.000000,16.000000,0.666667,0,NaN,0.450000,0,NaN
75%,77,1404.000000,3.000000,301.000000,21.000000,3.000000,5.000000,49.000000,27.000000,29.000000,...,0.818182,14.000000,4.000000,18.000000,0.740741,0,NaN,0.650000,0,NaN
max,77,9346.000000,4.000000,432.000000,94.000000,3.000000,7.000000,74.000000,55.000000,35.000000,...,1.000000,17.000000,6.000000,22.000000,0.962963,0,NaN,1.000000,0,NaN

In [6]:
data.head()

,RegionID,SchoolID,ClassNumber,ClassID,StudentID,SchoolType,SchoolTypeID,SchoolKind,SchoolKindID,TeacherAge,...,PercentLIT_XT,ScoreObyazLIT_XT,ScoreDopLIT_XT,ScoreLIT_XT,PercentOM,ScoreObyazOM,ScoreOM,PercentENGL,ScoreObyazENGL,ScoreENGL
0,77,1,1,101,1,начальная,1,с углубленным изучением отдельных предметов,6,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,77,1,1,101,2,начальная,1,с углубленным изучением отдельных предметов,6,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77,1,1,101,3,начальная,1,с углубленным изучением отдельных предметов,6,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,77,1,1,101,4,начальная,1,с углубленным изучением отдельных предметов,6,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77,1,1,101,5,начальная,1,с углубленным изучением отдельных предметов,6,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [388]:
data.columns

Index(['RegionID', 'SchoolID', 'ClassNumber', 'ClassID', 'StudentID',
       'SchoolType', 'SchoolTypeID', 'SchoolKind', 'SchoolKindID',
       'TeacherAge', 'TeacherRank', 'TeacherExperience', 'StudentsCount',
       'LessonsMa', 'BooksMa', 'BooksMaID', 'LessonsRu', 'BooksRu',
       'BooksRuID', 'LessonsLi', 'BooksLi', 'BooksLiID', 'PercentMA',
       'ScoreObyazMA', 'ScoreDopMA', 'ScoreMA', 'PercentRU', 'ScoreObyazRU',
       'ScoreDopRu', 'ScoreRU', 'PercentLIT', 'ScoreObyazLIT', 'ScoreDopLIT',
       'ScoreLIT', 'PercentLIT_IT', 'ScoreObyazLIT_IT', 'ScoreDopLIT_IT',
       'ScoreLIT_IT', 'PercentLIT_XT', 'ScoreObyazLIT_XT', 'ScoreDopLIT_XT',
       'ScoreLIT_XT', 'PercentOM', 'ScoreObyazOM', 'ScoreOM', 'PercentENGL',
       'ScoreObyazENGL', 'ScoreENGL'],
      dtype='object')

In [389]:
data.groupby('BooksMa').size()

BooksMa
"Александрова Э.И. (УМК ""Классическая начальная школа"")"       80
"Минаева С.С., Рослова Л.О., Рыдзе О.А. (ВЕНТАНА-ГРАФ) "         67
Александрова Э.И. (Система Д.Б. Эльконина - В.В. Давыдова)      397
Аргинская И.И. и др.                                           2596
Башмаков М.И. и др.                                            2439
Гейдман Б.П. и др.                                             6058
Давыдов В.В. и др.                                              199
Демидова Т.Е. и др                                             4387
Другой учебник                                                 1032
Истомина Н.Б.                                                  6171
Моро М.И. и др.                                               23982
Петерсон Л.Г.                                                 12913
Рудницкая В.Н. и др.                                           3547
Чекин А.Л.                                                      981
dtype: int64

## Определяем типы данных

In [212]:
data['ScoreObyazMA'] = pandas.to_numeric(data['ScoreObyazMA'])
data['ScoreObyazRU'] = pandas.to_numeric(data['ScoreObyazRU'])
data['ScoreObyazLIT'] = pandas.to_numeric(data['ScoreObyazLIT'])
data['ClassNumber'] = pandas.to_numeric(data['ClassNumber'])
data['SchoolTypeID'] = pandas.to_numeric(data['SchoolTypeID'])
data['SchoolKindID'] = pandas.to_numeric(data['SchoolKindID'])
data['TeacherAge'] = pandas.to_numeric(data['TeacherAge'])
data['BooksMaID'] = pandas.to_numeric(data['BooksMaID'])
data['BooksRuID'] = pandas.to_numeric(data['BooksRuID'])
data['BooksLiID'] = pandas.to_numeric(data['BooksLiID'])
data['LessonsMa'] = pandas.to_numeric(data['LessonsMa'])
data['LessonsRu'] = pandas.to_numeric(data['LessonsRu'])
data['LessonsLi'] = pandas.to_numeric(data['LessonsLi'])

## Пример выделения подмассива

In [222]:
class1 = data[(data['ClassNumber'] == 1)]

### Распределение записей по книгам по математике

In [223]:
cl1 = class1.groupby('BooksMaID').size()
cl1
#видим, что по книгам 1,7 слишком мало наблюдений, возможно их лучше вообще исключить

BooksMaID
1       30
3      159
4      765
5      791
6     2393
7       27
8     1038
9     2291
10    8452
11    4268
12     973
13     261
14     711
dtype: int64

#### Формируем массив для учебников по математике из class1 (!). Пример отбрасывания учебников 1 и 7, так как по ним слишком мало результатов. Последняя проверка убирает NaN. Отбираем только 2 столбца для нового массива в columns.

In [224]:
class1_math_book = pandas.DataFrame(class1[(class1['BooksMaID'] != 1) & (class1['BooksMaID'] != 7) & (class1['ScoreObyazMA'] == class1['ScoreObyazMA'])],columns=['BooksMaID','ScoreObyazMA'])

In [225]:
class1_math_book.groupby('BooksMaID').size()

BooksMaID
3      128
4      712
5      734
6     2211
8      985
9     2023
10    7008
11    3848
12     894
13     243
14     671
dtype: int64

#### DataFrame необходимо перевести в список списков для того, чтобы отправить в критерий Ливини. (результаты по разным учебникам группируем в отдельные списки)

In [351]:
lists = [pandas.DataFrame(class1_math_book[(class1_math_book["BooksMaID"]==k)]['ScoreObyazMA']) for k,g in class1_math_book.groupby("BooksMaID")]

#### Если значение критерия Ливини меньше 0.05, то дисперсии не однородны, ANOVA проводить не можем

In [279]:
statist, p_val = scipy.stats.levene(*list(lists))
print(statist)
print(p_val)

[ 7.74792709]
[  1.66318227e-12]

### Функция объединила все, что разобрано выше + дополнение. Идет по классам и вычисляет Ливини для переданных полей. Второй аргумент - поле, по которому группируем, третий - Результаты по КР

In [681]:
def go_classes(data, id_book_cell_name, score_cell_name, min_count=0, max_count=100000, class_begin=1, class_end=4):
    """
    Функция вычисляет значение критерия Ливини (однородности дисперсий по наборам данных). Если значение > 0.05, то разрешается проводить ANOVA.
    data - DataFrame с данными
    id_book_cell_name - имя поля в датафрейме, в котором хранится группирующая переменная
    score_cell_name - имя поля в датафрейме, в котором содержатся результаты учащихся (результаты группируются в списки по полю id_book_cell_name, 
    по которым вычисляется Ливини)
    На значение критерия влиет разброс количества данныхв наборах. Некоторые данные отбросим.
    min_count - минимальное количество записей, которые возможны для анализа
    max_count - верхняя граница числа записей для анализа
    class_begin - срез по классам (начало) 0 для среза по всем классам
    class_end - размер среза по классам (конец) 1 для среза по всем классам
    """
    for class_num in range(class_begin,class_end):
        print("Ведем разбор для класса ",class_num)
        #выделяем подмассив с текущим классом
        if class_begin != 0:
            class1 = data[(data['ClassNumber'] == class_num)]
        else:
            class1 = data
        #формируем DataFrame из двух столбцов
        class1_math_book = pandas.DataFrame(class1[(class1[score_cell_name] == class1[score_cell_name])],columns=[id_book_cell_name,score_cell_name])
        #print(class1_math_book)
        if class1_math_book.empty == False:
            print(class1_math_book.groupby(id_book_cell_name).size())
            #собрали ключи, по которым будем анализировать данные (кол-во записей укладывается в заданный диапазон)
            list_of_keys = [int(class1_math_book.groupby(id_book_cell_name).size().keys()[item]) 
                            for item in range(len(class1_math_book.groupby(id_book_cell_name).size().values)) 
                            if class1_math_book.groupby(id_book_cell_name).size().values[item] > min_count and 
                            class1_math_book.groupby(id_book_cell_name).size().values[item] < max_count]
            print(list_of_keys)
            #переводим в список списков
            lists = [pandas.DataFrame(class1_math_book[(class1_math_book[id_book_cell_name]==k)][score_cell_name]) for k,g in class1_math_book.groupby(id_book_cell_name)]
            #убираем слишком маленькие значения
            r = [i for i in lists if len(i) > min_count and len(i) < max_count]
            print("Списки, которые идут в Ливини")
            print([len(i) for i in r])
            statist, p_val = scipy.stats.levene(*list(r))
            print("Значение критерия Ливини")
            print(statist)
            print(p_val)
            if p_val > 0.044:
                #формируем dataframe для ANOVA по ранее полученному списку ключей, по которым будем проводить анализ
                new_frame = class1_math_book[class1_math_book[id_book_cell_name].isin(list_of_keys)]
                #print(new_frame.describe())
                new_frame[score_cell_name] = pandas.to_numeric(new_frame[score_cell_name])
                #ANOVA
                model = smf.ols(formula= score_cell_name + ' ~ ' + 'C(' + id_book_cell_name + ')', data = new_frame)
                result = model.fit()
                print(result.summary())
                # если результат по ANOVA статистич значим, то смотрим, по какой выборке больше/меньше среднее
                if result.f_pvalue <= 0.05:
                    print("MEAN")
                    print(new_frame.groupby(id_book_cell_name).mean())
                    print("ST.DEV.")
                    print(new_frame.groupby(id_book_cell_name).std())
                    #если количество сравниваемых выборок более 2, то применяем множественное сравнение
                    if len(list_of_keys) > 2:
                        mc = multi.MultiComparison(new_frame[score_cell_name],new_frame[id_book_cell_name])
                        res = mc.tukeyhsd()
                        print("Множественное сравнение")
                        print(res.summary())
                else:
                    print("СТАТИСТИЧЕСКИ ЗНАЧИМЫХ РАЗЛИЧИЙ ПО ANOVA НЕ ВЫЯВЛЕНО")
                del(new_frame)
                
        else:
            print("Данные по этому классу не найдены")

# Формируем различные срезы по данным, считаем Ливини и ANOVA, если возможно

In [682]:
go_classes(data, "BooksMaID", "ScoreObyazMA", 1000, 3000, 1, 4)

Ведем разбор для класса  1
BooksMaID
1       29
3      128
4      712
5      734
6     2211
7       27
8      985
9     2023
10    7008
11    3848
12     894
13     243
14     671
dtype: int64
[6, 9]
Списки, которые идут в Ливини
[2211, 2023]
Значение критерия Ливини
[ 1.75295902]
[ 0.18557668]
                            OLS Regression Results
==============================================================================
Dep. Variable:           ScoreObyazMA   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     25.28
Date:                Sat, 21 May 2016   Prob (F-statistic):           5.15e-07
Time:                        21:32:54   Log-Likelihood:                -7662.8
No. Observations:                4234   AIC:                         1.533e+04
Df Residuals:                    4232   BIC:                         1.534e+04
Df Model:                           1
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------------
Intercept               8.8417      0.031    281.172      0.000         8.780     8.903
C(BooksMaID)[T.9.0]    -0.2287      0.045     -5.028      0.000        -0.318    -0.140
==============================================================================
Omnibus:                     1638.258   Durbin-Watson:                   1.426
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7349.596
Skew:                          -1.850   Prob(JB):                         0.00
Kurtosis:                       8.289   Cond. No.                         2.57
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
MEAN
           ScoreObyazMA
BooksMaID
6              8.841701
9              8.612951
ST.DEV.
           ScoreObyazMA
BooksMaID
6              1.489723
9              1.466396
Ведем разбор для класса  2
BooksMaID
1       45
3       99
4      786
5      625
6     1398
7       22
8     1255
9     1657
10    6857
11    3256
12    1090
13     289
14     200
dtype: int64
[6, 8, 9, 12]
Списки, которые идут в Ливини
[1398, 1255, 1657, 1090]
Значение критерия Ливини
[ 3.9096582]
[ 0.00841694]
Ведем разбор для класса  3
BooksMaID
2       65
3       99
4      873
5      696
6     1794
7       87
8     1542
9     1652
10    6733
11    4337
12    1162
13     360
14      66
dtype: int64
[6, 8, 9, 12]
Списки, которые идут в Ливини
[1794, 1542, 1652, 1162]
Значение критерия Ливини
[ 11.01899653]
[  3.26621803e-07]

/Users/anastasiapanfilova/anaconda/lib/python3.4/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## 3 учебника по математике идут в ANOVA по всем годам

In [674]:
go_classes(data, "BooksMaID", "ScoreObyazMA", 4000, 12000, 0, 1)

Ведем разбор для класса  0
BooksMaID
1        74
2        65
3       326
4      2371
5      2055
6      5403
7       136
8      3782
9      5332
10    20598
11    11441
12     3146
13      892
14      937
dtype: int64
[6, 9, 11]
Списки, которые идут в Ливини
[5403, 5332, 11441]
Значение критерия Ливини
[ 0.17877243]
[ 0.8362974]
                            OLS Regression Results
==============================================================================
Dep. Variable:           ScoreObyazMA   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     184.5
Date:                Sat, 21 May 2016   Prob (F-statistic):           3.57e-80
Time:                        21:27:53   Log-Likelihood:                -51090.
No. Observations:               22176   AIC:                         1.022e+05
Df Residuals:                   22173   BIC:                         1.022e+05
Df Model:                           2
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------------
Intercept                9.6041      0.033    291.359      0.000         9.539     9.669
C(BooksMaID)[T.9.0]     -0.3445      0.047     -7.366      0.000        -0.436    -0.253
C(BooksMaID)[T.11.0]     0.4064      0.040     10.160      0.000         0.328     0.485
==============================================================================
Omnibus:                      106.217   Durbin-Watson:                   1.019
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.037
Skew:                          -0.004   Prob(JB):                     1.59e-33
Kurtosis:                       3.404   Cond. No.                         4.46
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
MEAN
           ScoreObyazMA
BooksMaID
6              9.604109
9              9.259565
11            10.010489
ST.DEV.
           ScoreObyazMA
BooksMaID
6              2.429006
9              2.426204
11             2.418582
Множественное сравнение
Multiple Comparison of Means - Tukey HSD,FWER=0.05
=============================================
group1 group2 meandiff  lower   upper  reject
---------------------------------------------
 6.0    9.0   -0.3445  -0.4542 -0.2349  True
 6.0    11.0   0.4064   0.3126  0.5001  True
 9.0    11.0   0.7509   0.6568  0.8451  True
---------------------------------------------

/Users/anastasiapanfilova/anaconda/lib/python3.4/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [675]:
go_classes(data, "BooksRuID", "ScoreObyazRU", 1000, 3000, 1, 4)

Ведем разбор для класса  1
BooksRuID
1     1186
2     2788
3       55
5     2502
6     1686
8      143
9       53
10    1216
11    6583
12     199
13    2207
14     369
16     378
dtype: int64
[1, 2, 5, 6, 10, 13]
Списки, которые идут в Ливини
[1186, 2788, 2502, 1686, 1216, 2207]
Значение критерия Ливини
[ 2.08542693]
[ 0.06408011]
                            OLS Regression Results
==============================================================================
Dep. Variable:           ScoreObyazRU   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     7.988
Date:                Sat, 21 May 2016   Prob (F-statistic):           1.58e-07
Time:                        21:29:09   Log-Likelihood:                -30203.
No. Observations:               11585   AIC:                         6.042e+04
Df Residuals:                   11579   BIC:                         6.046e+04
Df Model:                           5
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------------
Intercept               10.9907      0.095    115.333      0.000        10.804    11.178
C(BooksRuID)[T.2.0]      0.0444      0.114      0.390      0.696        -0.179     0.267
C(BooksRuID)[T.5.0]     -0.1834      0.116     -1.585      0.113        -0.410     0.043
C(BooksRuID)[T.6.0]      0.1831      0.124      1.472      0.141        -0.061     0.427
C(BooksRuID)[T.10.0]     0.5101      0.134      3.809      0.000         0.248     0.773
C(BooksRuID)[T.13.0]     0.1176      0.118      0.995      0.320        -0.114     0.349
==============================================================================
Omnibus:                      581.952   Durbin-Watson:                   1.457
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              670.630
Skew:                          -0.586   Prob(JB):                    2.37e-146
Kurtosis:                       2.879   Cond. No.                         8.67
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
MEAN
           ScoreObyazRU
BooksRuID
1             10.990725
2             11.035151
5             10.807354
6             11.173784
10            11.500822
13            11.108292
ST.DEV.
           ScoreObyazRU
BooksRuID
1              3.151705
2              3.241979
5              3.324220
6              3.194773
10             3.266238
13             3.423104
Множественное сравнение
Multiple Comparison of Means - Tukey HSD,FWER=0.05
=============================================
group1 group2 meandiff  lower   upper  reject
---------------------------------------------
 1.0    2.0    0.0444  -0.2798  0.3687 False
 1.0    5.0   -0.1834  -0.5131  0.1464 False
 1.0    6.0    0.1831  -0.1714  0.5375 False
 1.0    10.0   0.5101   0.1284  0.8918  True
 1.0    13.0   0.1176  -0.2192  0.4543 False
 2.0    5.0   -0.2278  -0.4854  0.0298 False
 2.0    6.0    0.1386  -0.1499  0.4272 False
 2.0    10.0   0.4657   0.1442  0.7871  True
 2.0    13.0   0.0731  -0.1934  0.3396 False
 5.0    6.0    0.3664   0.0717  0.6612  True
 5.0    10.0   0.6935   0.3665  1.0205  True
 5.0    13.0   0.3009   0.0278  0.5741  True
 6.0    10.0   0.327   -0.0249  0.679  False
 6.0    13.0  -0.0655   -0.368  0.2371 False
 10.0   13.0  -0.3925  -0.7266 -0.0585  True
---------------------------------------------
Ведем разбор для класса  2
BooksRuID
2     2614
3       75
4      964
5     1532
6     1680
7     2125
9       13
10     930
11    4431
12     172
13    1627
15     338
16     874
dtype: int64
[2, 5, 6, 7, 13]
Списки, которые идут в Ливини
[2614, 1532, 1680, 2125, 1627]
Значение критерия Ливини
[ 3.01557582]
[ 0.01693988]
Ведем разбор для класса  3
BooksRuID
2     3081
3       82
4     1132
5     1765
6     1870
7     2570
9       25
10    1293
11    4056
12     282
13    1840
15     445
16     955
dtype: int64
[4, 5, 6, 7, 10, 13]
Списки, которые идут в Ливини
[1132, 1765, 1870, 2570, 1293, 1840]
Значение критерия Ливини
[ 16.37251635]
[  3.96532519e-16]

/Users/anastasiapanfilova/anaconda/lib/python3.4/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [676]:
go_classes(data, "BooksRuID", "ScoreObyazRU", 6000, 50000, 0, 1)

Ведем разбор для класса  0
BooksRuID
1      1186
2      8583
3       212
4      2170
5      5820
6      5286
7      4954
8       143
9        91
10     3439
11    15103
12      653
13     5823
14      369
15      806
16     2290
dtype: int64
[2, 11]
Списки, которые идут в Ливини
[8583, 15103]
Значение критерия Ливини
[ 5.06262111]
[ 0.02445638]

In [677]:
go_classes(data, "BooksLiID", "ScoreObyazLIT", 1000, 2300, 1, 4)

Ведем разбор для класса  1
BooksLiID
1       50
2     2327
3     2862
4       52
5     1748
6     1132
7     8557
8       48
9      218
10     151
11      86
12     979
13     502
14     555
dtype: int64
[5, 6]
Списки, которые идут в Ливини
[1748, 1132]
Значение критерия Ливини
[ 0.54420862]
[ 0.4607539]
                            OLS Regression Results
==============================================================================
Dep. Variable:          ScoreObyazLIT   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     8.300
Date:                Sat, 21 May 2016   Prob (F-statistic):            0.00399
Time:                        21:29:45   Log-Likelihood:                -5769.7
No. Observations:                2880   AIC:                         1.154e+04
Df Residuals:                    2878   BIC:                         1.156e+04
Df Model:                           1
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------------
Intercept               8.0418      0.043    187.353      0.000         7.958     8.126
C(BooksLiID)[T.6.0]    -0.1972      0.068     -2.881      0.004        -0.331    -0.063
==============================================================================
Omnibus:                      579.039   Durbin-Watson:                   1.727
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1097.722
Skew:                          -1.224   Prob(JB):                    4.29e-239
Kurtosis:                       4.777   Cond. No.                         2.44
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
MEAN
           ScoreObyazLIT
BooksLiID
5               8.041762
6               7.844523
ST.DEV.
           ScoreObyazLIT
BooksLiID
5               1.769155
6               1.833145
Ведем разбор для класса  2
Данные по этому классу не найдены
Ведем разбор для класса  3
Данные по этому классу не найдены

/Users/anastasiapanfilova/anaconda/lib/python3.4/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [456]:
go_classes(data, "BooksLiID", "ScoreObyazLIT", 1000, 8000, 0, 1)

Ведем разбор для класса %s 0
BooksLiID
1       50
2     2327
3     2862
4       52
5     1748
6     1132
7     8557
8       48
9      218
10     151
11      86
12     979
13     502
14     555
dtype: int64
Списки, которые идут в Ливини
[2327, 2862, 1748, 1132]
Значение критерия Ливини
[ 5.13737411]
[ 0.001506]

## 3 вида школ связаны с математикой

In [678]:
go_classes(data, "SchoolKindID", "ScoreObyazMA", 0, 3000, 0,1)

Ведем разбор для класса  0
SchoolKindID
1     3914
2     4447
3       37
4      208
5    39349
6     8407
7      175
dtype: int64
[3, 4, 7]
Списки, которые идут в Ливини
[37, 208, 175]
Значение критерия Ливини
[ 2.63073137]
[ 0.07322099]
                            OLS Regression Results
==============================================================================
Dep. Variable:           ScoreObyazMA   R-squared:                       0.377
Model:                            OLS   Adj. R-squared:                  0.374
Method:                 Least Squares   F-statistic:                     126.3
Date:                Sat, 21 May 2016   Prob (F-statistic):           1.35e-43
Time:                        21:29:54   Log-Likelihood:                -953.44
No. Observations:                 420   AIC:                             1913.
Df Residuals:                     417   BIC:                             1925.
Df Model:                           2
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------
Intercept                 10.8919      0.386     28.183      0.000        10.132    11.652
C(SchoolKindID)[T.4.0]     0.8148      0.419      1.943      0.053        -0.010     1.639
C(SchoolKindID)[T.7.0]    -2.9776      0.425     -7.000      0.000        -3.814    -2.141
==============================================================================
Omnibus:                       44.184   Durbin-Watson:                   1.159
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.177
Skew:                          -0.842   Prob(JB):                     1.04e-12
Kurtosis:                       3.562   Cond. No.                         7.14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
MEAN
              ScoreObyazMA
SchoolKindID
3                10.891892
4                11.706731
7                 7.914286
ST.DEV.
              ScoreObyazMA
SchoolKindID
3                 2.855636
4                 2.485815
7                 2.050672
Множественное сравнение
Multiple Comparison of Means - Tukey HSD,FWER=0.05
=============================================
group1 group2 meandiff  lower   upper  reject
---------------------------------------------
 3.0    4.0    0.8148  -0.1718  1.8014 False
 3.0    7.0   -2.9776  -3.9781 -1.9771  True
 4.0    7.0   -3.7924  -4.3596 -3.2252  True
---------------------------------------------

/Users/anastasiapanfilova/anaconda/lib/python3.4/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [462]:
go_classes(data, "SchoolKindID", "ScoreObyazRU", 0, 30000, 0,1)

Ведем разбор для класса %s 0
SchoolKindID
1     3914
2     4480
3       38
4      262
5    39637
6     8398
7      178
dtype: int64
Списки, которые идут в Ливини
[3914, 4480, 38, 262, 8398, 178]
Значение критерия Ливини
[ 23.42847816]
[  1.52551437e-23]

## 2 вида школа с результатами по литературе

In [666]:
go_classes(data, "SchoolKindID", "ScoreObyazLIT", 2500, 30000, 0,1)

Ведем разбор для класса  0
SchoolKindID
1      985
2     2344
5    13030
6     2885
7       56
dtype: int64
[5, 6]
Списки, которые идут в Ливини
[13030, 2885]
Значение критерия Ливини
[ 4.1316782]
[ 0.04210416]

In [503]:
go_classes(data, "TeacherRank", "ScoreObyazMA", 0, 3500, 0,1)

Ведем разбор для класса %s 0
TeacherRank
1                                      26
2                                      37
7                                     192
8                                     271
9                                     316
10                                    303
11                                    318
12                                   3576
13                                   5616
14                                   8730
15                                    128
1                                     167
10                                    315
11                                    440
12                                   3088
13                                   4459
14                                   8130
15                                    192
2                                      24
3                                      28
7                                     149
8                                     330
9                                     257
Вторая категория                     2187
Высшая категория                     9958
Первая категория                     5695
Соответствие занимаемой должности    1626
dtype: int64
Списки, которые идут в Ливини
[26, 37, 192, 271, 316, 303, 318, 128, 167, 315, 440, 3088, 192, 24, 28, 149, 330, 257, 2187, 1626]
Значение критерия Ливини
[ 31.84329768]
[  1.33507310e-112]

In [519]:
go_classes(data, "TeacherRank", "ScoreObyazRU", 8000, 10000, 0,1)

Ведем разбор для класса %s 0
TeacherRank
1                                       26
2                                       37
7                                      191
8                                      274
9                                      312
10                                     304
11                                     286
12                                    3561
13                                    5521
14                                    8725
15                                     128
1                                      161
10                                     314
11                                     436
12                                    3019
13                                    4371
14                                    8088
15                                     194
2                                       23
3                                       28
7                                      152
8                                      329
9                                      260
Вторая категория                      2267
Высшая категория                     10359
Первая категория                      5950
Соответствие занимаемой должности     1612
dtype: int64
Списки, которые идут в Ливини
[8725, 8088]
Значение критерия Ливини
[ 773.24559664]
[  2.02276526e-166]

In [679]:
go_classes(data, "TeacherRank", "ScoreObyazLIT", 0, 3000, 0,1)

Ведем разбор для класса  0
TeacherRank
1       26
2       35
7      189
8      271
9      306
10     274
11     311
12    3538
13    5535
14    8713
15     122
dtype: int64
[1, 2, 7, 8, 9, 10, 11, 15]
Списки, которые идут в Ливини
[26, 35, 189, 271, 306, 274, 311, 122]
Значение критерия Ливини
[ 0.60111779]
[ 0.75542488]
                            OLS Regression Results
==============================================================================
Dep. Variable:          ScoreObyazLIT   R-squared:                       0.008
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.792
Date:                Sat, 21 May 2016   Prob (F-statistic):             0.0849
Time:                        21:30:13   Log-Likelihood:                -3279.6
No. Observations:                1534   AIC:                             6575.
Df Residuals:                    1526   BIC:                             6618.
Df Model:                           7
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------------
Intercept                7.6154      0.404     18.871      0.000         6.824     8.407
C(TeacherRank)[T.2]     -0.2154      0.533     -0.404      0.686        -1.260     0.830
C(TeacherRank)[T.7]     -0.2768      0.430     -0.643      0.520        -1.121     0.568
C(TeacherRank)[T.8]     -0.1320      0.422     -0.312      0.755        -0.961     0.697
C(TeacherRank)[T.9]      0.1036      0.420      0.246      0.805        -0.721     0.928
C(TeacherRank)[T.10]     0.0343      0.422      0.081      0.935        -0.794     0.863
C(TeacherRank)[T.11]     0.2013      0.420      0.479      0.632        -0.623     1.025
C(TeacherRank)[T.15]     0.3846      0.444      0.865      0.387        -0.487     1.256
==============================================================================
Omnibus:                      240.753   Durbin-Watson:                   1.879
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              369.405
Skew:                          -1.089   Prob(JB):                     6.09e-81
Kurtosis:                       4.016   Cond. No.                         23.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
СТАТИСТИЧЕСКИ ЗНАЧИМЫХ РАЗЛИЧИЙ ПО ANOVA НЕ ВЫЯВЛЕНО

/Users/anastasiapanfilova/anaconda/lib/python3.4/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy